<aside class="main-sidebar sidebar-light-primary " id="sidebar">
    <!-- Brand Logo -->
    <a href="#" class="brand-link">
       <!-- <img src="dist/img/Logo.png" alt="Admin Logo" class="brand-image img-circle elevation-3" style="opacity: .8"> -->
       <span class="brand-text font-weight-light">Admin</span>
    </a>
    <!-- Sidebar -->
    <div class="sidebar">
       <!-- Sidebar Menu -->
       <nav class="mt-2">
          <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
             <!-- Add icons to the links using the .nav-icon class
       with font-awesome or any other icon font library -->
             <li class="nav-item child-first active">
                <a href="#" class="nav-link">
                   <span>
                      <svg width="16" height="16" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                         <path d="M5.92 12.2197C6.90966 12.2197 7.71 13.0188 7.71 14.0307V17.4397C7.71 18.4432 6.90814 19.2497 5.92 19.2497H2.54C1.55994 19.2497 0.75 18.4412 0.75 17.4397V14.0307C0.75 13.0207 1.55842 12.2197 2.54 12.2197H5.92ZM17.4601 12.2197C18.4417 12.2197 19.2501 13.0207 19.2501 14.0307V17.4397C19.2501 18.4412 18.4402 19.2497 17.4601 19.2497H14.0801C13.092 19.2497 12.2901 18.4432 12.2901 17.4397V14.0307C12.2901 13.0188 13.0904 12.2197 14.0801 12.2197H17.4601ZM5.92 0.75C6.90795 0.75 7.71 1.55634 7.71 2.561V5.97C7.71 6.98155 6.91004 7.78 5.92 7.78H2.54C1.55804 7.78 0.75 6.97962 0.75 5.97V2.561C0.75 1.55827 1.56013 0.75 2.54 0.75H5.92ZM17.4601 0.75C18.44 0.75 19.2501 1.55827 19.2501 2.561V5.97C19.2501 6.97962 18.4421 7.78 17.4601 7.78H14.0801C13.0901 7.78 12.2901 6.98155 12.2901 5.97V2.561C12.2901 1.55634 13.0921 0.75 14.0801 0.75H17.4601Z" stroke="#A1A3B0" stroke-width="1.5" />
                      </svg>
                   </span>
                   <p> Home </p>
                </a>
             </li>
             <li class="nav-item">
                <a href="pages/widgets.html" class="nav-link">
                   <span>
                      <svg width="16" height="16" viewBox="0 0 20.89307 21.3444" fill="none" version="1.1" id="svg4" sodipodi:docname="9e9c01f746afc8293332caec03ab755a.svg" xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape" xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd" xmlns="http://www.w3.org/2000/svg" xmlns:svg="http://www.w3.org/2000/svg">
                         <defs id="defs8" />
                         <!-- <sodipodi:namedview id="namedview6" pagecolor="#ffffff" bordercolor="#666666" borderopacity="1.0" inkscape:pageshadow="2" inkscape:pageopacity="0.0" inkscape:pagecheckerboard="0" /> -->
                         <path fill-rule="evenodd" clip-rule="evenodd" d="m 8.147,4.20344 c 0.433,0.34 0.682,0.847 0.682,1.391 0,4.385 0.148,5.56496 0.753,6.01396 0.397,0.293 0.941,0.29 2.774,0.239 0.852,-0.025 1.943,-0.057 3.372,-0.057 0.57,0 1.107,0.244 1.471,0.669 0.338,0.395 0.486,0.911 0.408,1.419 -0.668,4.325 -4.348,7.466 -8.75,7.466 C 3.973,21.3444 0,17.3714 0,12.4884 0,8.61644 2.928,4.74444 6.527,3.85844 c 0.562,-0.137 1.166,-0.009 1.62,0.345 z m -1.165,1.1 c -0.032,0 -0.064,0.004 -0.096,0.012 -2.97,0.731 -5.386,3.949 -5.386,7.17296 0,4.056 3.3,7.356 7.357,7.356 3.657,0 6.713,-2.605 7.267,-6.195 0.004,-0.03 0.018,-0.117 -0.064,-0.214 -0.078,-0.091 -0.202,-0.145 -0.332,-0.145 -1.411,0 -2.488,0.032 -3.329,0.056 -2.036,0.061 -2.878,0.084 -3.71,-0.533 C 7.49931,11.9321 7.34289,10.4504 7.32998,6.29248 L 7.329,5.59444 c 0,-0.084 -0.036,-0.154 -0.108,-0.21 -0.067,-0.053 -0.152,-0.081 -0.239,-0.081 z m 11.0684,-2.5697 c 1.758,1.757 2.874,4.066 2.842,5.883 -0.012,0.709 -0.527,1.301 -1.223,1.40596 -1.358,0.205 -2.948,0.267 -4.355,0.267 -1.31,0 -2.463,-0.053 -3.126,-0.091 -0.834,-0.049 -1.498,-0.71396 -1.546,-1.54796 -0.078,-1.322 -0.247,-4.681 -0.127,-7.279 0.033,-0.754998 0.643,-1.3559984 1.389,-1.36899844 2.137,-0.06199996 4.342,0.93000044 6.146,2.73099844 z m -6.018,-1.232 h -0.022 c -0.11,2.519 0.053,5.773 0.129,7.062 0.004,0.077 0.06,0.133 0.136,0.137 1.028,0.059 4.57,0.223 7.117,-0.152 0.006,-1.404 -0.955,-3.308 -2.402,-4.754 -1.484,-1.482 -3.24,-2.293 -4.958,-2.293 z" fill="#A1A3B0" id="path2" />
                      </svg>
                   </span>
                   <p> Accounts </p>
                </a>
             </li>
             <li class="nav-item">
                <a href="pages/calendar.html" class="nav-link">
                   <span>
                      <svg width="16" height="16" viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                         <path fill-rule="evenodd" clip-rule="evenodd" d="M12.897 0.8421C13.311 0.8421 13.647 1.1781 13.647 1.5921C13.647 2.0061 13.311 2.3421 12.897 2.3421H5.629C3.121 2.3421 1.5 4.0661 1.5 6.7361V14.8181C1.5 17.5231 3.082 19.2031 5.629 19.2031H14.233C16.741 19.2031 18.362 17.4821 18.362 14.8181V7.7791C18.362 7.3651 18.698 7.0291 19.112 7.0291C19.526 7.0291 19.862 7.3651 19.862 7.7791V14.8181C19.862 18.3381 17.6 20.7031 14.233 20.7031H5.629C2.262 20.7031 0 18.3381 0 14.8181V6.7361C0 3.2111 2.262 0.8421 5.629 0.8421H12.897ZM15.0124 7.6719C15.3404 7.9259 15.4004 8.3969 15.1464 8.7239L12.2164 12.5039C12.0944 12.6619 11.9144 12.7649 11.7164 12.7889C11.5164 12.8159 11.3184 12.7579 11.1604 12.6349L8.3424 10.4209L5.8114 13.7099C5.6634 13.9019 5.4414 14.0029 5.2164 14.0029C5.0564 14.0029 4.8954 13.9519 4.7594 13.8479C4.4314 13.5949 4.3694 13.1239 4.6224 12.7959L7.6154 8.9059C7.7374 8.7469 7.9184 8.6439 8.1164 8.6189C8.3184 8.5929 8.5164 8.6489 8.6734 8.7739L11.4934 10.9889L13.9604 7.8059C14.2144 7.4769 14.6844 7.4159 15.0124 7.6719ZM17.9674 0C19.4414 0 20.6394 1.198 20.6394 2.672C20.6394 4.146 19.4414 5.345 17.9674 5.345C16.4944 5.345 15.2954 4.146 15.2954 2.672C15.2954 1.198 16.4944 0 17.9674 0ZM17.9674 1.5C17.3214 1.5 16.7954 2.025 16.7954 2.672C16.7954 3.318 17.3214 3.845 17.9674 3.845C18.6134 3.845 19.1394 3.318 19.1394 2.672C19.1394 2.025 18.6134 1.5 17.9674 1.5Z" fill="#A1A3B0" />
                      </svg>
                   </span>
                   <p> Trades </p>
                </a>
             </li>
             <li class="nav-item">
                <a href="pages/gallery.html" class="nav-link">
                   <span>
                      <svg width="16" height="16" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                         <path fill-rule="evenodd" clip-rule="evenodd" d="M19.2727 12.7351C19.6857 12.7661 19.9947 13.1271 19.9637 13.5401L19.7737 16.0491C19.6167 18.1191 17.8697 19.7401 15.7947 19.7401H4.1947C2.1197 19.7401 0.3727 18.1191 0.2157 16.0491L0.0257 13.5401C-0.0053 13.1271 0.3047 12.7661 0.7177 12.7351C1.1327 12.7201 1.4907 13.0131 1.5227 13.4271L1.7117 15.9351C1.8097 17.2271 2.8997 18.2401 4.1947 18.2401H15.7947C17.0897 18.2401 18.1807 17.2271 18.2777 15.9351L18.4677 13.4271C18.4997 13.0131 18.8667 12.7191 19.2727 12.7351ZM11.2849 0C12.7878 0 14.033 1.12626 14.2205 2.57903L16.19 2.5799C18.286 2.5799 19.99 4.2889 19.99 6.3909V9.8299C19.99 10.0969 19.848 10.3429 19.619 10.4769C17.1507 11.9224 14.0239 12.7655 10.7445 12.878L10.7449 14.6766C10.7449 15.0906 10.4089 15.4266 9.9949 15.4266C9.5809 15.4266 9.2449 15.0906 9.2449 14.6766L9.24425 12.8782C5.96818 12.7668 2.84116 11.9235 0.371 10.4769C0.141 10.3429 0 10.0969 0 9.8299V6.3809C0 4.2849 1.709 2.5799 3.81 2.5799L5.76931 2.57903C5.95684 1.12626 7.20196 0 8.7049 0H11.2849ZM16.19 4.0799H3.81C2.536 4.0799 1.5 5.1119 1.5 6.3809V9.3929C3.87371 10.6827 6.86623 11.3895 9.98099 11.3909L9.9949 11.3896L10.006 11.39L10.4822 11.385C13.428 11.3149 16.2381 10.616 18.49 9.3929V6.3909C18.49 5.1159 17.459 4.0799 16.19 4.0799ZM11.2849 1.5H8.7049C8.03156 1.5 7.46316 1.95827 7.29525 2.57928H12.6945C12.5266 1.95827 11.9582 1.5 11.2849 1.5Z" fill="#A1A3B0" />
                      </svg>
                   </span>
                   <p> Company </p>
                </a>
             </li>
             <li class="nav-item child-last">
                <a href="pages/kanban.html" class="nav-link">
                   <span>
                      <svg width="16" height="16" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                         <path fill-rule="evenodd" clip-rule="evenodd" d="M8.80494 11.818L12.4619 17.751C12.6219 18.011 12.8719 18.008 12.9729 17.994C13.0739 17.98 13.3169 17.918 13.4049 17.623L17.9779 2.17802C18.0579 1.90502 17.9109 1.71902 17.8449 1.65302C17.7809 1.58702 17.5979 1.44602 17.3329 1.52102L1.87694 6.04702C1.58394 6.13302 1.51995 6.37902 1.50594 6.48002C1.49194 6.58302 1.48794 6.83802 1.74694 7.00102L7.74794 10.754L13.0499 5.39602C13.3409 5.10202 13.8159 5.09902 14.1109 5.39002C14.4059 5.68102 14.4079 6.15702 14.1169 6.45102L8.80494 11.818ZM12.8949 19.5C12.1989 19.5 11.5609 19.146 11.1849 18.538L7.30794 12.247L0.951945 8.27202C0.266945 7.84302 -0.091055 7.07902 0.019945 6.27602C0.129945 5.47302 0.680945 4.83502 1.45494 4.60802L16.9109 0.0820158C17.6219 -0.125984 18.3839 0.0710158 18.9079 0.593016C19.4319 1.12002 19.6269 1.89002 19.4149 2.60402L14.8419 18.048C14.6129 18.825 13.9729 19.374 13.1719 19.481C13.0779 19.493 12.9869 19.5 12.8949 19.5Z" fill="#A1A3B0" />
                      </svg>
                   </span>
                   <p> Customer support </p>
                </a>
             </li>
          </ul>
       </nav>
       <div class="logot-btn-area">
          <button class="btn btn-logout">
             <i class="fa fa-sign-out" aria-hidden="true"></i>
             <span>Logout</span>
          </button>
       </div>
       <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
 </aside>