<div class="hold-transition sidebar-mini layout-fixed">
    <div class="wrapper">
        <app-header></app-header>
        <app-sidebar></app-sidebar>
        <div class="content-wrapper homeStyle">
            <!-- Content Header (Page header) -->
            <div class="content-header">
               <div class="container-fluid">
                  <div class="row mb-2">
                     <div class="col-sm-8">
                        <h1 class="m-0">Create trading accounts and enjoy seamless trading in just one click, master your skills and get access to good trading facilities.</h1>
                     </div>
                     <!-- /.col -->
                     <div class="col-sm-4">
                        <button class="btn btn-default">Accounts</button>
                     </div>
                     <!-- /.col -->
                  </div>
                  <!-- /.row -->
               </div>
               <!-- /.container-fluid -->
            </div>
            <!-- /.content-header -->
            <!-- Main content -->
            <section class="content">
               <div class="container-fluid">
                  <!-- Main row -->
                  <div class="row">
                     <div class="col-sm-12">
                        <div class="card card-default">
                           <div class="card-header">
                              <h3 class="card-title title-with-line">Login Credentials for your Free Trial</h3>
                           </div>
                           <!-- /.card-header -->
                           <div class="card-body">
                              <div class="row">
                                 <div class="col-md-6 download-app-heading">
                                    <a href="#">Enjoy premium trading experience with our desktop app</a>
                                 </div>
                                 <!-- /.col -->
                                 <div class="col-md-6">
                                    <div class="download-app-section">
                                       <a href="#">
                                          <i class="fa fa-windows" aria-hidden="true"></i>
                                          <span>Windows</span>
                                       </a>
                                    </div>
                                 </div>
                                 <!-- /.col -->
                              </div>
                              <!-- /.row -->
                           </div>
                           <!-- /.card-body -->
                        </div>
                        <div class="card card-default mt-5">
                           <div class="card-header">
                              <div class="row">
                                 <div class="col-sm-9 cp-1">
                                    <h3 class="card-title">Credentials</h3>
                                    <hr>
                                 </div>
                                 <div class="col-sm-3 cp-2 lh-26"> &nbsp;
                                    <hr class="with-left">
                                 </div>
                              </div>
                              <span></span>
                           </div>
                           <!-- /.card-header -->
                           <div class="card-body pt-0">
                              <div class="row">
                                 <div class="col-md-10 Credentials-app-heading">
                                    <div class="row">
                                       <div class="col-sm-6 col-6">
                                          <p>Login</p>
                                       </div>
                                       <div class="col-sm-6 col-6">
                                          <a href="#">201928447757</a>
                                       </div>
                                       <div class="col-sm-12">
                                          <hr>
                                       </div>
                                    </div>
                                    <div class="row">
                                       <div class="col-sm-6 col-6">
                                          <p>Password</p>
                                       </div>
                                       <div class="col-sm-6 col-6">
                                          <p>DevosaUS</p>
                                       </div>
                                       <div class="col-sm-12">
                                          <hr>
                                       </div>
                                    </div>
                                    <div class="row">
                                       <div class="col-sm-6 col-6">
                                          <p>Server</p>
                                       </div>
                                       <div class="col-sm-6 col-6">
                                          <p>FXT-DEMO</p>
                                       </div>
                                       <div class="col-sm-12">
                                          <hr>
                                       </div>
                                    </div>
                                    <div class="row">
                                       <div class="col-sm-6 col-6">
                                          <p>Server</p>
                                       </div>
                                       <div class="col-sm-6 col-6">
                                          <p>FXT-DEMO</p>
                                       </div>
                                    </div>
                                 </div>
                                 <!-- /.col -->
                                 <div class="col-md-2">
                                    <div class="copy-app-btn">
                                       <ul>
                                          <li>
                                             <a href="#">
                                                <i class="fa fa-clone" aria-hidden="true"></i>
                                                <span>Copy</span>
                                             </a>
                                          </li>
                                          <li>
                                             <a href="#">
                                                <i class="fa fa-clone" aria-hidden="true"></i>
                                                <span>Copy</span>
                                             </a>
                                          </li>
                                          <li>
                                             <a href="#">
                                                <i class="fa fa-clone" aria-hidden="true"></i>
                                                <span>Copy</span>
                                             </a>
                                          </li>
                                          <li>
                                             <a href="#">
                                                <i class="fa fa-clone" aria-hidden="true"></i>
                                                <span>Copy</span>
                                             </a>
                                          </li>
                                       </ul>
                                       
                                    </div>
                                 </div>
                                 <!-- /.col -->
                              </div>
                              <!-- /.row -->
                           </div>
                           <!-- /.card-body -->
                        </div>
                     </div>
                  </div>
                  <!-- /.row (main row) -->
               </div>
               <!-- /.container-fluid -->
            </section>
            <!-- /.content -->
         </div>
         <app-footer></app-footer> 
    </div>
    <!-- -->
</div>
<!-- <app-footer></app-footer>  -->


