@media(max-width: 1150px){

	.panel-inner .panel-heading {
		font-size: 16px;
	}
	.form-amount .float-left.text-center {
		width: 90%;
	}
	.input-group-append .input-group-text {
		font-size: 30px;
	}
	.input-group-prepend .input-group-text {
	
		font-size: 20px;
	}
	.input-form {
		font-size: 30px;
	}
	}
	
	@media(max-width: 1100px){
	.form-amount .submit-ammount-btns {
		width: 100%;
		max-width: 100%;
		margin: 10px 0;
	}
	.content-header .btn-default{
	font-size:16px;
	}	
	}
	
	@media(max-width:1078px)
	{
	.copy-app-btn i {
		color: #282828;
		font-size: 13px;
		padding: 5px;
		background: #fff;
		border: 1px solid #D8D8D8;
	}
	.copy-app-btn span {
		color: #282828;
		font-size: 14px;
		line-height: 24px;
	}	
	}
	@media(min-width:992px){
		.hide-desktop{
			display:none;
		}
	}
	@media(max-width:920px){
		[class*=sidebar-light] .brand-link {
		border-bottom: 1px solid #D8D8D8;
		padding: 25px 30px;
	}
	.Credentials-app-heading:after {
		min-height: 150%;
	}
	}
	@media(max-width: 767px){
		.grap-hide-mob{
			display:none;
		}
	}
	@media(min-width: 767px){
		
		.garp-hide-desk{
			display:none;
		}
	}
	@media(max-width: 600px)
	{
	.Credentials-app-heading:after {
		min-height: 120%;
		top: -36px;
	}
	.content .card-header .title-with-line:before {
		top: 100px;
	}
	.download-app-section{
		margin-top: 10px;
	}
	.small-screen .main-sidebar {
		top: 57px;
	}
	}
	@media(max-width: 575px)
	{
	/*    .small-screen .main-sidebar .logot-btn-area {
		bottom: 82%;
	}*/
	.right-panel-outer{
		margin-top: 40px;
		padding: 0;
		border: 1px solid #D8D8D8;
		box-shadow: 0px 12px 40px rgb(142 142 142 / 3%);
		margin-bottom: 50px;
	}
	}