/**** theme common stylesheet *****/



@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
body{
	font-family: 'Poppins', sans-serif;
	font-weight: normal;
}
a{
	text-decoration:none;
    color: var(--blue);
}
a:hover{
    text-decoration:none;
    color: var(--blue);
}
ul, ol{
	margin: 0;
	padding:0;
}
li{
	list-style-type: none;
	margin: 0;
	padding:0;
}
:root{
	--black: #000;
	--light-black: #282828;
	--blue: #003EDF;
	--light_gray: #A1A3B0;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}
form{
	width:100%;
}

.wrapper {
    position: relative;
}
.pt-0{
    padding-top: 0;
}
.bg-gray{
    background: #F5F5F5;
}
.bg-white{
    background:#fff;
}
.mt-8{
    margin-top: 8em;
}
.mb-8{
margin-bottom: 8em;
}
.pd-0{
    padding: 0;
}








/*Header*/
.main-header {
    border-bottom: 1px solid #D8D8D8;
    z-index: 1034;
}

.main-sidebar {
    height: 100vh;
    overflow-y: hidden;
    z-index: 1038;
}
.main-sidebar, .main-sidebar::before {
    transition: margin-left .3s ease-in-out,width .3s ease-in-out;
    width: 250px;
}
[class*=sidebar-light-] {
    background-color: #fff;
}
.elevation-4 {
    box-shadow: 0 14px 28px rgba(0,0,0,.25),0 10px 10px rgba(0,0,0,.22)!important;
}
.main-header .search-box{
    border-radius: 30px;
}
.layout-fixed .brand-link {
    width: 250px;
}
[class*=sidebar-light] .brand-link {
    border-bottom: 1px solid #D8D8D8;
}
.img-circle {
    border-radius: 50%;
}
.elevation-3 {
    box-shadow: 0 10px 20px rgba(0,0,0,.19),0 6px 6px rgba(0,0,0,.23)!important;
}
.font-weight-light {
    font-weight: 300!important;
}
.brand-link .brand-image {
    float: left;
    line-height: .8;
    margin-left: 0.8rem;
    margin-right: 0.5rem;
    margin-top: -3px;
    max-height: 33px;
    width: auto;
}
.layout-fixed .main-sidebar {
    bottom: 0;
    float: none;
    left: 0;
    position: fixed;
    top: 0;
}
.brand-link {
    display: block;
    font-size: 1.25rem;
    line-height: 1.5;
    padding: 16px 20px;
    transition: width .3s ease-in-out;
    white-space: nowrap;
}

.main-sidebar .brand-text, .main-sidebar .logo-xl, .main-sidebar .logo-xs, .sidebar .nav-link p, .sidebar .user-panel .info {
    transition: margin-left .3s linear,opacity .3s ease,visibility .3s ease;
}
.sidebar {
    height: calc(100% - (3.5rem + 1px));
    overflow-x: hidden;
    overflow-y: initial;
    padding-bottom: 0;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 45%;
    scrollbar-color: #a9a9a9 transparent;
    scrollbar-width: none;
}
.os-host, .os-host-textarea {
    position: relative;
    overflow: visible!important;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -ms-flex-line-pack: start;
    align-content: flex-start;
    -webkit-box-align: start;
    -ms-flex-align: start;
    -ms-grid-row-align: flex-start;
    align-items: flex-start;
}
.os-host-overflow {
    overflow: hidden!important;
}
.nav-sidebar {
    position: relative;
}
@media (min-width: 992px){
.sidebar-mini .nav-sidebar, .sidebar-mini .nav-sidebar .nav-link, .sidebar-mini .nav-sidebar>.nav-header {
    white-space: nowrap;
}
}
.nav-sidebar:hover {
    overflow: visible;
}
.nav-sidebar>.nav-item {
    margin-bottom: 0;
}
.nav-sidebar .nav-item>.nav-link {
    margin-bottom: 0.2rem;
}
.sidebar-mini .main-sidebar .nav-link, .sidebar-mini-md .main-sidebar .nav-link, .sidebar-mini-xs .main-sidebar .nav-link {
    width: calc(250px - 0.5rem * 2);
    transition: width ease-in-out .3s;
}
.nav-sidebar .nav-item>.nav-link {
    position: relative;
}
[class*=sidebar-light-] .sidebar a:focus, [class*=sidebar-light-] .sidebar a:hover {
    text-decoration: none;
}

.sidebar-light-primary .nav-sidebar>.nav-item a{
    background-color: #fff;
    color: var(--light_gray);
    margin-bottom: 0;
        padding: 20px 15px;
}
.sidebar-light-primary .nav-sidebar>.nav-item:hover a,
.sidebar-light-primary .nav-sidebar>.nav-item.active a,
.sidebar-light-primary .nav-sidebar>.nav-item:focus a{
    color: var(--blue);
}
.nav-sidebar>.nav-item .nav-icon {
    margin-left: 0.05rem;
    font-size: 1.2rem;
    margin-right: 0.2rem;
    text-align: center;
    width: 1.6rem;
}

.nav-sidebar>.nav-item .nav-icon.fa, 
.nav-sidebar>.nav-item .nav-icon.fab, 
.nav-sidebar>.nav-item .nav-icon.fad, 
.nav-sidebar>.nav-item .nav-icon.fal, 
.nav-sidebar>.nav-item .nav-icon.far, 
.nav-sidebar>.nav-item .nav-icon.fas, 
.nav-sidebar>.nav-item .nav-icon.ion, 
.nav-sidebar>.nav-item .nav-icon.svg-inline--fa {
    font-size: 1.1rem;
}
.nav-sidebar .nav-link p {
    display: inline;
    margin: 0;
    white-space: normal;
    position: absolute;
    left: auto;
    right: auto;
}
.badge {
    display: inline-block;
    padding: 0.25em 0.4em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.badge-danger {
    color: #fff;
    background-color: #dc3545;
}
.nav-sidebar .nav-link>.right, .nav-sidebar .nav-link>p>.right {
    position: absolute;
    right: 1rem;
    top: 0.7rem;
}
.nav-sidebar .nav-item>.nav-link .right {
    transition: -webkit-transform ease-in-out .3s;
    transition: transform ease-in-out .3s;
    transition: transform ease-in-out .3s,-webkit-transform ease-in-out .3s;
}
.nav-sidebar .nav-item span{
    background: #F9F9F9;
    padding: 30px 15px;
    margin-right: 25px;
}
.nav-sidebar .nav-item.child-first span{
        padding-top: 50px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}
.nav-sidebar .nav-item.child-last span{
        padding-bottom: 50px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}
.nav-sidebar .nav-item svg{
    position: relative;
    top: 3px;
    left: 0;
}

.nav-sidebar .nav-item:hover path,
.nav-sidebar .nav-item.active path,
.nav-sidebar .nav-item:focus path{
    stroke: var(--blue);
}
.content-wrapper {
    height: 100%;
}
.wrapper .content-wrapper {
    min-height: calc(100vh - calc(3.5rem + 1px) - calc(3.5rem + 1px));
}
.logot-btn-area{
    position: absolute;
    bottom: 60px;
    left: 30px;    
}
.logot-btn-area .btn-logout{
    background: #fff;
    color: var(--light_gray);
    font-size: 18px;
    font-weight: 300;
}
.logot-btn-area .btn-logout:hover,
.logot-btn-area .btn-logout:focus,
.logot-btn-area .btn-logout:active{
color: var(--blue);
}
.fix_height{
max-height: 160vh;
    z-index: -1 !important;
    position: absolute !important;
    height: 100% !important;
}
.fix_height .sidebar {
    height: calc(100% - (3.5rem + 1px));
    padding-top: 100%;
    margin-top: 100%;
}


@media (min-width: 768px){
body:not(.sidebar-mini-md):not(.sidebar-mini-xs):not(.layout-top-nav) .content-wrapper, 
 
body:not(.sidebar-mini-md):not(.sidebar-mini-xs):not(.layout-top-nav) .main-header {
    transition: margin-left .3s ease-in-out;
    margin-left: 250px;
    padding: 8px 50px;
}
}

.content-header {
    padding: 50px 30px;
}
.content-header h1{
 font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 36px;
color: #282828;   
}
.content .card
{

}
.content .card-header
{
    background: #F9F9F9;
    padding: 40px 25px 20px;
    border: none;
}
.content .card-header .card-title
{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 26px;
    color: #282828;
    margin-bottom: 0;
}
.content .card-header .title-with-line:before{
        content: ' ';
    width: 65%;
    line-height: 1;
    display: block;
    text-align: center;
    position: absolute;
    height: 1px;
    background-color: #D8D8D8;
    top: 86px;
    font-size: 1em;
    font-weight: 600;
    z-index: 2;
    margin-left: 0;
}
.content .card-body
{
        background: #F9F9F9;
    padding: 25px 25px;
}



/*footer*/

footer{
    padding:50px 30px;
    z-index:99;

}
footer .footer-download-btns{

}
footer .footer-download-btns a{
      float: left;
    width: 35%;
    margin-right: 10px;  
}
.footer-heading{
font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 36px;
color: #282828;
}
.footer-menu{

}
.footer-link{
    margin: 10px 0;
}
.footer-link a{
 font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 30px;
color: #282828;   
}
.footer-link:hover a,
.footer-link:active a,
.footer-link:focus a{
    color: var(--blue);
}
.small-screen{

}
.small-screen .main-sidebar{
    display: none;
    position: absolute;
    top: 63px;
    left: 0;
    width: 100%;
    background: #000000d4;

    height: 100%;

}
.small-screen .main-sidebar.sidebar {
    padding-top: 15%;
}
.small-screen .main-header .nav-inner{
margin-left: 0 !important;
}
.small-screen .main-sidebar .sidebar {
    padding-top: 5% !important;
    background: #fff;
    max-width: 300px;
}
.small-screen [class*=sidebar-light] .brand-link {

    background: #fff;
    max-width: 300px;
    width: 100%;
}
.small-screen .main-sidebar{
    
}
.small-screen .main-sidebar .logot-btn-area {
    position: relative;
    bottom: -70px;
    left: 15px;
}
/*.small-screen .main-sidebar .logot-btn-area {
    bottom: 68%;
}*/
.small-screen .content-wrapper, .small-screen .main-header {
     margin-left: 0px !important;   
}