<p>footer works!</p>
<footer class="main-footer"  id="footer">
    <div class="container-fluid">
       <div class="row">
          <div class="col-sm-4 col-12">
             <div class="row">
                <div class="col-sm-12">
                   <img class="img-fluid" src="assets/img/footer-logo.png">
                   <p class="footer-tagline">Premium Trading experience.</p>
                </div>
                <div class="col-sm-12 mt-5 footer-download-btns">
                   <a href="#">
                      <img src="assets/img/play-store.png" class="img-fluid">
                   </a>
                    <a href="#">
                      <img src="assets/img/app-store.png" class="img-fluid">
                   </a>
                </div>
             </div>
          </div>
          <div class="col-sm-8 col-12">
             <div class="row">
                <div class="col-sm-4 col-12">
                   <div class="footer-heading">
                      Product
                   </div>
                   <ul class="footer-menu">
                      <li class="footer-link">
                         <a href="#">Chart</a>
                      </li>
                      <li class="footer-link">
                         <a href="#">Forex Screener</a>
                      </li>
                      <li class="footer-link">
                         <a href="#">Forex Pairs</a>
                      </li>
                      <li class="footer-link">
                         <a href="#">Stock Heat-map</a>
                      </li>
                      <li class="footer-link">
                         <a href="#">Economic Calender</a>
                      </li>
                      <li class="footer-link">
                         <a href="#">Earning Calculator</a>
                      </li>
                      <li class="footer-link">
                         <a href="#">News flow</a>
                      </li>
                   </ul>
                </div>
                <div class="col-sm-4 col-12">
                   <div class="footer-heading">
                      Company
                   </div>
                   <ul class="footer-menu">
                      
                      <li class="footer-link">
                         <a href="#">About</a>
                      </li>
                      <li class="footer-link">
                         <a href="#">Features</a>
                      </li>
                      <li class="footer-link">
                         <a href="#">Pricing</a>
                      </li>
                      <li class="footer-link">
                         <a href="#">Blog</a>
                      </li>
                      <li class="footer-link">
                         <a href="#">Careers</a>
                      </li>
                      <li class="footer-link">
                         <a href="#">Terms of Use</a>
                      </li>
                      <li class="footer-link">
                         <a href="#">Privacy Policy</a>
                      </li>
                   </ul>
                </div>
                <div class="col-sm-4 col-12">
                   <div class="footer-heading">
                      Community
                   </div>
                   <ul class="footer-menu">
                      <li class="footer-link">
                         <a href="#">Refer a friend</a>
                      </li>
                      <li class="footer-link">
                         <a href="#">Ideas</a>
                      </li>
                      <li class="footer-link">
                         <a href="#">Script</a>
                      </li>
                      <li class="footer-link">
                         <a href="#">Disclaimer</a>
                      </li>
                      <li class="footer-link">
                         <a href="#">Chats</a>
                      </li>
                      <li class="footer-link">
                         <a href="#">Cookies Policy</a>
                      </li>

                   </ul>
                </div>
             </div>
          </div>
       </div>
    </div>
 </footer>