<div class="wrapper">
     <div class="container-fluid">
          <div class="login-box-outer">
               <div class="row">
                    <div class="col-lg-2 col-md-2 col-sm-2 empty-box brder-right-full">
                         <span></span>
                    </div>
                    <div class="col-lg-10 col-md-10 col-sm-10 login-box-inner">
                         <div class="row">
                              <div class="col-lg-5 col-md-5 col-sm-6 login-left-panel">
                                   <div class="row">
                                        <div class="col-sm-12 heading-align">
                                             <h1 class="page-heading heading-line">Login</h1>

                                        </div>
                                        <form class="form-login" [formGroup]="loginForm" (ngSubmit)="loginUser()">
                                             <div class="form-group">
                                                  <label>Login</label>
                                                  <input type="text" formControlName="email" class="form-control "
                                                       [ngClass]="{ 'is-invalid': submitted && Lform['email'].errors }">
                                                  <div *ngIf="submitted && Lform['email'].errors"
                                                       class="invalid-feedback">
                                                       <div *ngIf="Lform['email'].errors['required']">Email is required
                                                       </div>
                                                       <div *ngIf="Lform['email'].errors['email']">Enter the Valid email
                                                            Id</div>
                                                  </div>
                                             </div>

                                             <div class="form-group">

                                                  <label class="form-check-label">
                                                       <input type="radio" class="radio-inline"
                                                            formControlName="passwordType"
                                                            (change)="passwordType($event)" name="passwordType"
                                                            value="master">master password</label>
                                                  <label class="form-check-label">
                                                       <input type="radio" class="radio-inline"
                                                            formControlName="passwordType"
                                                            (change)="passwordType($event)" name="passwordType"
                                                            value="investor" checked>investor password</label>
                                             </div>
                                             <div class="form-group" [ngClass]="{'blur-sec':IsMasterPassword == true}">
                                                  <label>Password</label>
                                                  <input type="password" name="Password"
                                                       class="form-control form-input check_data"
                                                       formControlName="password"
                                                       [ngClass]="{ 'is-invalid': submitted && Lform['password'].errors }">
                                                  <div *ngIf="submitted && Lform['password'].errors"
                                                       class="invalid-feedback">
                                                       <div *ngIf="Lform['password'].errors['required']">Password is
                                                            required
                                                       </div>

                                                  </div>
                                             </div>
                                             <div class="form-group text-center mt-5"
                                                  [ngClass]="{'blur-sec':IsMasterPassword == true}">
                                                  <button type="submit"
                                                       class="btn btn-default check_data">Login</button>
                                             </div>
                                             <a routerLink="/signup">If Account is not created</a>
                                        </form>
                                   </div>
                              </div>
                              <div class="col-lg-7 col-md-7 col-sm-6 login-img">
                                   <img class="img-fluid" src="../../../../../assets/images/grap-img.png">
                              </div>
                         </div>
                    </div>
               </div>
          </div>
     </div>
</div>