<div class="wrapper">
     <div class="container-fluid">
          <div class="login-box-outer">
            <div class="row">
                <div class="col-lg-2 col-md-2 col-sm-2 empty-box brder-right-full">
                    <span></span>
               </div>
               <div class="col-lg-10 col-md-10 col-sm-10 login-box-inner">
                <div class="row">
                     <div class="col-lg-5 col-md-5 col-sm-6 login-left-panel">
                          <div class="row">
                               <div class="col-sm-12 heading-align">
                                    <h1 class="page-heading heading-line">Sign-up</h1>

                               </div>
                               <form class="form-login" [formGroup]="signUpForm" (ngSubmit)="signUpUser()">
                               
                                <div class="form-group">
                                    <p class="mb-1">Title <span class="text-danger">*</span>:</p>
                                    <ng-select [items]="titleList" bindLabel="name" bindValue="id" class="form-control"
                                        placeholder="Select the title" [searchable]="false" [clearable]="false" formControlName="title">
                                    </ng-select>
                                </div>
                                <div class="form-group">
                                    <p class="mb-1">First Name <span class="text-danger">*</span>:</p>
                                    <input type="text" formControlName="firstName" class="form-control" 
                                        [ngClass]="{ 'is-invalid': submitted && Sform['firstName'].errors }">
                                    <div *ngIf="submitted && Sform['firstName'].errors" class="invalid-feedback">
                                        <div *ngIf="Sform['firstName'].errors['required']">First name is required</div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <p class="mb-1"> Last Name <span class="text-danger">*</span>:</p>
                                    <input type="text" formControlName="lastName" class="form-control" 
                                        [ngClass]="{ 'is-invalid': submitted && Sform['lastName'].errors }">
                                    <div *ngIf="submitted && Sform['lastName'].errors" class="invalid-feedback">
                                        <div *ngIf="Sform['lastName'].errors['required']">Last name is required</div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <p class="mb-1">Email  <span class="text-danger">*</span>:</p>
                                    <input type="text" formControlName="email" class="form-control" 
                                        [ngClass]="{ 'is-invalid': submitted && Sform['email'].errors }">
                                    <div *ngIf="submitted && Sform['email'].errors" class="invalid-feedback">
                                        <div *ngIf="Sform['email'].errors['required']">Email is required</div>
                                        <div *ngIf="Sform['email'].errors['email']">Enter the Valid email Id</div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <p class="mb-1">Phone <span class="text-danger">*</span>:</p>
                                    <input type="text" formControlName="contactNo" class="form-control" 
                                        [ngClass]="{ 'is-invalid': submitted && Sform['contactNo'].errors }">
                                    <div *ngIf="submitted && Sform['contactNo'].errors" class="invalid-feedback">
                                        <div *ngIf="Sform['contactNo'].errors['required']">Phone Number is required</div>
                                        <div *ngIf="Sform['contactNo'].errors['pattern']">Enter valid Phone number</div>
                                    </div>
                                </div>
                                
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <p class="mb-1">Country <span class="text-danger">*</span>:</p>
                                            <ng-select [items]="countryList" bindLabel="name" bindValue="value" class="form-control"
                                                placeholder="Select the title" [searchable]="false" [clearable]="false" formControlName="country">
                                            </ng-select>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <p class="mb-1"> State<span class="text-danger">*</span>:</p>
                                            <input type="text" formControlName="state" class="form-control" 
                                                [ngClass]="{ 'is-invalid': submitted && Sform['state'].errors }">
                                            <div *ngIf="submitted && Sform['state'].errors" class="invalid-feedback">
                                                <div *ngIf="Sform['state'].errors['required']">State is required</div>
                            
                                            </div>
                                        </div>
                                    </div>
                                </div>
                               
                    
                              
                    
                                <div class="form-group">
                                    <p class="mb-1">Address <span class="text-danger">*</span>:</p>
                                    <input type="text" formControlName="address" class="form-control" 
                                        [ngClass]="{ 'is-invalid': submitted && Sform['address'].errors }">
                                    <div *ngIf="submitted && Sform['address'].errors" class="invalid-feedback">
                                        <div *ngIf="Sform['address'].errors['required']">Address is required</div>
                    
                                    </div>
                                </div>
                    
                                <div class="form-group">
                                    <p class="mb-1">Post code <span class="text-danger">*</span>:</p>
                                    <input type="text" formControlName="postCode" class="form-control" 
                                        [ngClass]="{ 'is-invalid': submitted && Sform['postCode'].errors }">
                                    <div *ngIf="submitted && Sform['postCode'].errors" class="invalid-feedback">
                                        <div *ngIf="Sform['postCode'].errors['required']">PostCode is required</div>
                    
                                    </div>
                                </div>
                    
                                <div class="form-group">
                                    <button class="btn btn-success btn-block" type="submit">Sign Up</button>
                                </div>
                                <a class="already" routerLink="/">You already have an account? Login here.</a>
                            </form>
                        </div>
                     
                    </div>
                    <div class="col-lg-7 col-md-7 col-sm-6 login-img">
                        <img class="img-fluid sideImage" src="../../../../../assets/images/grap-img.png">
                   </div>
                    
                </div>
               
            </div>
          </div>
    </div>
</div>




<!-- <div class="register-photo">
    <div class="form-container">

        <form [formGroup]="signUpForm" (ngSubmit)="signUpUser()">
            <h2 class="text-center"><strong>Create</strong> an account.</h2>
            <div class="form-group">
                <p class="mb-1">Title <span class="text-danger">*</span>:</p>
                <ng-select [items]="titleList" bindLabel="name" bindValue="id" class="form-control"
                    placeholder="Select the title" [searchable]="false" [clearable]="false" formControlName="title">
                </ng-select>
            </div>
            <div class="form-group">
                <p class="mb-1">First Name <span class="text-danger">*</span>:</p>
                <input type="text" formControlName="firstName" class="form-control" 
                    [ngClass]="{ 'is-invalid': submitted && Sform['firstName'].errors }">
                <div *ngIf="submitted && Sform['firstName'].errors" class="invalid-feedback">
                    <div *ngIf="Sform['firstName'].errors['required']">First name is required</div>
                </div>
            </div>
            <div class="form-group">
                <p class="mb-1"> Last Name <span class="text-danger">*</span>:</p>
                <input type="text" formControlName="lastName" class="form-control" 
                    [ngClass]="{ 'is-invalid': submitted && Sform['lastName'].errors }">
                <div *ngIf="submitted && Sform['lastName'].errors" class="invalid-feedback">
                    <div *ngIf="Sform['lastName'].errors['required']">Last name is required</div>
                </div>
            </div>
            <div class="form-group">
                <p class="mb-1">Email  <span class="text-danger">*</span>:</p>
                <input type="text" formControlName="email" class="form-control" 
                    [ngClass]="{ 'is-invalid': submitted && Sform['email'].errors }">
                <div *ngIf="submitted && Sform['email'].errors" class="invalid-feedback">
                    <div *ngIf="Sform['email'].errors['required']">Email is required</div>
                    <div *ngIf="Sform['email'].errors['email']">Enter the Valid email Id</div>
                </div>
            </div>
            <div class="form-group">
                <p class="mb-1">Phone <span class="text-danger">*</span>:</p>
                <input type="text" formControlName="contactNo" class="form-control" 
                    [ngClass]="{ 'is-invalid': submitted && Sform['contactNo'].errors }">
                <div *ngIf="submitted && Sform['contactNo'].errors" class="invalid-feedback">
                    <div *ngIf="Sform['contactNo'].errors['required']">Phone Number is required</div>
                    <div *ngIf="Sform['contactNo'].errors['pattern']">Enter valid Phone number</div>
                </div>
            </div>

            <div class="form-group">
                <p class="mb-1">Country <span class="text-danger">*</span>:</p>
                <ng-select [items]="countryList" bindLabel="name" bindValue="value" class="form-control"
                    placeholder="Select the title" [searchable]="false" [clearable]="false" formControlName="country">
                </ng-select>
            </div>

            <div class="form-group">
                <p class="mb-1"> State<span class="text-danger">*</span>:</p>
                <input type="text" formControlName="state" class="form-control" 
                    [ngClass]="{ 'is-invalid': submitted && Sform['state'].errors }">
                <div *ngIf="submitted && Sform['state'].errors" class="invalid-feedback">
                    <div *ngIf="Sform['state'].errors['required']">State is required</div>

                </div>
            </div>

            <div class="form-group">
                <p class="mb-1">Address <span class="text-danger">*</span>:</p>
                <input type="text" formControlName="address" class="form-control" 
                    [ngClass]="{ 'is-invalid': submitted && Sform['address'].errors }">
                <div *ngIf="submitted && Sform['address'].errors" class="invalid-feedback">
                    <div *ngIf="Sform['address'].errors['required']">Address is required</div>

                </div>
            </div>

            <div class="form-group">
                <p class="mb-1">Post code <span class="text-danger">*</span>:</p>
                <input type="text" formControlName="postCode" class="form-control" 
                    [ngClass]="{ 'is-invalid': submitted && Sform['postCode'].errors }">
                <div *ngIf="submitted && Sform['postCode'].errors" class="invalid-feedback">
                    <div *ngIf="Sform['postCode'].errors['required']">PostCode is required</div>

                </div>
            </div>

            <div class="form-group">
                <button class="btn btn-success btn-block" type="submit">Sign Up</button>
            </div>
            <a class="already" href="#">You already have an account? Login here.</a>
        </form>
        <div class="image-holder"></div>
    </div>
</div> -->