.form-amount .float-left{
    width: 70%;
    margin: 0 auto;
}

.btn-disable
        {
        cursor: not-allowed;
        pointer-events: none;

        /*Button disabled - CSS color class*/
        color: #c0c0c0;
        background-color: #ffffff;

        }