
     <div class="wrapper">
        <div class="container-fluid">
           <div class="login-box-outer">
              <div class="row">
                 <div class="col-lg-2 col-md-2 col-sm-2 empty-box brder-right-full">
                    <span></span>
                 </div>
                 <div class="col-lg-10 col-md-10 col-sm-10 login-box-inner">
                    <div class="row">
                       <div class="col-lg-5 col-md-5 col-sm-6 login-left-panel">
                          <div class="row">
                             <div class="col-sm-12 heading-align">
                                <h1 class="page-heading heading-line">Change Password</h1>

                             </div>
                             <form class="form-login"   [formGroup]="changePassForm" (ngSubmit)="changePassword()">
                                <div class="form-group">
                                   <label>Login</label>
                                   <input type="text" formControlName="email" class="form-control "
                                   [ngClass]="{ 'is-invalid': submitted && CPform['email'].errors }">
                              <div *ngIf="submitted && CPform['email'].errors"
                                   class="invalid-feedback">
                                   <div *ngIf="CPform['email'].errors['required']">Email is required
                                   </div>
                                   <div *ngIf="CPform['email'].errors['email']">Enter the Valid email
                                        Id</div>
                              </div>
                                </div>
                                <div class="form-group" [ngClass]="{'blur-sec':IsMasterPassword == true}">
                                   <label>Password ( {{passwordType}} )</label>
                                   <input type="password" name="Password" formControlName="oldPassword" class="form-control form-input check_data"
                                   [ngClass]="{ 'is-invalid': submitted && CPform['oldPassword'].errors }"
                                   >
                                   <div *ngIf="submitted && CPform['oldPassword'].errors"
                                   class="invalid-feedback">
                                   <div *ngIf="CPform['oldPassword'].errors['required']">{{passwordType}} is
                                        required
                                   </div>

                              </div>
                                </div>
                                <div class="mt-1 mb-1"><strong>-- Select Password to change</strong></div>
                                <div class="form-group mt-2">
                                    <label class="form-check-label">
                                        <input type="radio" class="radio-inline"
                                             formControlName="passwordType"
                                             (change)="CheckPasswordType($event)" name="passwordType"
                                             value="master Password">master password</label>
                                   <label class="form-check-label">
                                        <input type="radio" class="radio-inline"
                                             formControlName="passwordType"
                                             (change)="CheckPasswordType($event)" name="passwordType"
                                             value="investor Password" checked>investor password</label>
          
                                </div>
                                <div class="form-group " [ngClass]="{'blur-sec':IsMasterPassword == true}">
                                   <label>New Password</label>
                                   <input type="password" name="Password" formControlName="newPassword" class="form-control form-input check_data"
                                   [ngClass]="{ 'is-invalid': submitted && CPform['newPassword'].errors }">
                                   <div *ngIf="submitted && CPform['newPassword'].errors"
                                   class="invalid-feedback">
                                   <div *ngIf="CPform['newPassword'].errors['required']">Password is
                                        required
                                   </div>

                              </div>
                                </div>
                                <div class="form-group " [ngClass]="{'blur-sec':IsMasterPassword == true}">
                                   <label>Confirm Password</label>
                                   <input type="password" name="Password" formControlName="confirmPassword" class="form-control form-input check_data"
                                   [ngClass]="{ 'is-invalid': submitted && CPform['confirmPassword'].errors }">
                                   <div *ngIf="submitted && CPform['confirmPassword'].errors"
                                   class="invalid-feedback">
                                   <div *ngIf="CPform['confirmPassword'].errors['required']">Password is
                                        required
                                   </div>
                                  

                              </div>
                              <div *ngIf="passwordError == false" class="invalid-feedback">Its not same of new password
                              </div>
                                </div>
                                <div class="form-group text-center mt-5">
                                   <button type="button" class="btn btn-cancel float-left" >Cancel</button>
                                   <button type="submit" class="btn btn-save float-right" [ngClass]="{'btn-disable':IsMasterPassword == true}">Save</button>
                                </div>
                             </form>
                          </div>
                       </div>
                       <div class="col-lg-7 col-md-7 col-sm-6 login-img">
                          <img class="img-fluid" src="../../../../../assets/images/grap-img.png">
                       </div>
                    </div>
                 </div>
              </div>
           </div>
        </div>
     </div>