
   <nav class="main-header navbar navbar-expand navbar-white navbar-light" data-toggle="affix">
    <!-- Left navbar links -->
    <div class="mx-auto d-sm-flex d-block flex-sm-nowrap">
       <div class="collapse navbar-collapse text-center" id="navbarsExample11">
          <ul class="navbar-nav">
             <li class="nav-item hide-desktop">
                <a class="nav-link" data-widget="pushmenu" href="#" role="button">
                   <i class="fas fa-bars"></i>
                </a>
             </li>
             <li class="nav-item d-none d-sm-inline-block">
                <form class="form-inline">
                   <div class="p-1 bg-light shadow-sm search-box">
                      <div class="input-group">
                         <input type="search" placeholder="What're you searching for?" aria-describedby="button-addon1" class="form-control border-0 bg-light">
                         <div class="input-group-append">
                            <button id="button-addon1" type="submit" class="btn btn-link text-primary">
                               <i class="fa fa-search"></i>
                            </button>
                         </div>
                      </div>
                   </div>
                </form>
             </li>
             <li class="nav-item active d-none d-sm-inline-block">
                <a class="nav-link" href="#">Market</a>
             </li>
             <li class="nav-item d-none d-sm-inline-block">
                <a class="nav-link" href="#">News</a>
             </li>
             <li class="nav-item d-none d-sm-inline-block">
                <a class="nav-link" href="#">FAQ</a>
             </li>
             <li class="nav-item d-none d-sm-inline-block">
                <a class="nav-link" href="#">Contact us</a>
             </li>
          </ul>
       </div>
    </div>
 </nav>