 /* 
	1. web-design area mobile view




/******************** Web-design area Desktop view   ******
***********************************************************
* ***********************************************************/

.cp-1{

    padding-right: 0;
}

.cp-2{
	    padding-left: 0;
}
.lh-26{
	line-height:26px;
}
.empty-box{
    max-height: 100%;
}
.brder-right-full{
	border-right: 1px solid #BDBDBD;
}
.login-box-outer{
	
}
.login-box-inner{
    padding: 3.5% 40px;
}
.heading-align{
    padding: 0;
}
.page-heading{
	font-size: 36px;
	color: var(--blue);
	font-weight: 800;
	line-height: 54px;
	font-style: normal;
	margin-bottom: 30px;
}

.heading-line:after{
    content: ' ';
    width: 10%;
    line-height: 1;
    display: block;
    text-align: center;
    position: absolute;
    height: 1px;
    background-color: #D8D8D8;
    top: 60px;
    font-size: 1em;
    font-weight: 900;
    z-index: -1;
    margin-left: 0;
}
.form-group>label{
	    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    color: #282828;
    margin-bottom: 15px;
    margin-right: 20px;
}
.form-group .form-control{
	    background: #FFFFFF;
    border: 1px solid #E0E0E0;
    border-radius: 4px;
    height: 50px;
    font-family: 'Poppins';
    font-size: 18px;
    font-weight: 400;
    color: var(--black);
    width:100%;
}
.form-group .form-control:focus {
    box-shadow: 0 0 0 1px rgb(0 62 223 / 53%);
}
.form-login{
	width: 100%;
}
.login-left-panel{
	padding: 5% 40px 6%;
}
.btn-cancel{
    
    padding: 7px 12px;
    background: #DF3E3E;
    color: #fff;   
}
.btn-save{
    
    padding: 7px 12px;
    background: var(--blue);
    color: #fff;   
}
.btn-default{
    width: 100%;
    max-width: 315px;
    margin: 0 auto;
    font-size: 20px;
    line-height: 36px;
    padding: 10px 20px;
     background: var(--blue); 
    /*background-image: url(../img/btn-defult-bg.jpg);*/
    border-radius: 6px;
    color: #fff;
    background-size: cover;
    background-repeat: no-repeat;
}
.btn-success{
   width: 100%;
    max-width: 315px;
    margin: 0 auto;
    font-size: 20px;
    line-height: 36px;
    padding: 10px 20px;
     background: #63B67F; 
    /*background-image: url(../img/btn-defult-bg.jpg);*/
    border-radius: 6px;
    color: #fff;
    background-size: cover;
    background-repeat: no-repeat; 
}
.blur-sec{
	    opacity: 0.2;
}
.showdata{
	opacity: 1;
}
.login-img img{
	max-height: 620px;
}
.form-control:focus {
  box-shadow: none;
}

.form-control-underlined {
  border-width: 0;
  border-bottom-width: 1px;
  border-radius: 0;
  padding-left: 0;
}
.form-control::placeholder {
  font-size: 0.95rem;
  color: #aaa;
  font-style: italic;
}

/*Dashboard*/
.download-app-section i{
    color: var(--light-black);
    font-size: 26px;
    margin-right: 10px;
}
.download-app-section span{
     color: var(--light-black);
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
}
.Credentials-app-heading p{
	margin-bottom: 0;
}
.copy-app-btn i{
    color: #282828;
    font-size: 16px;
    padding: 7px;
    background: #fff;
    border: 1px solid #D8D8D8;
}
.copy-app-btn span{
    color: #282828;
    font-size: 16px;
    line-height: 24px;
}
.copy-app-btn ul{

}
.copy-app-btn li{
	    margin: 0px 0 22px;
}
.Credentials-app-heading:after{
    content: ' ';
    width: 1px;
    line-height: 1;
    display: block;
    text-align: center;
    position: absolute;
    height: 100%;
    background-color: #D8D8D8;
    top: -120px;
    font-size: 1em;
    font-weight: 600;
    z-index: 2;
    margin-left: 0;
    transform: rotate(180deg);
    min-height: 168%;
    right: 15px;	
}

/**/

.cs-space-div{
       padding: 10px 12% 10px 6%; 
}
.pannel-bg{
      background: #000;
    min-height: 300px;
    border-radius: 24px;
    max-width: 86%;
    margin: 0 auto;  
}
.panel-inner{
    max-width: 86%;
    margin: 0 auto;
    padding: 0 6%;
    margin-top: -250px; 
}
.left-panel{
    float: left;
    padding: 25px 25px;
    background: #F5F5F5;
    border: 1px solid #D8D8D8;
    box-shadow: 0px 12px 40px rgb(142 142 142 / 3%);
}
.left-panel-inner{
     background: #fff;
    padding: 30px 25px;   
}
.right-panel{
 float: left;
    padding: 30px 30px;
    background: #fff;
    width: 100%;
}
.panel-inner .panel-heading{
    color: var(--blue);
    font-size: 20px;
    font-weight: 600;
    line-height: 36px;
}
.panel-inner .panel-icon-heading{
    position: absolute;
    top: 5px;
    right: 20px;
    color: var(--blue);
    background: #F5F5F5;
    padding: 1px 6px;
    border-radius: 100%;
    cursor: pointer;
}
.panel-inner .panel-icon-heading i{
    font-weight: 500;
    font-size: 16px;
}
.panel-inner .panel-icon-heading:hover,
.panel-inner .panel-icon-heading:focus{
 color: var(--light-black);   
}
.panel-id-text{
font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 12px;
line-height: 18px;
text-align: center;
color: #282828;
}
.panel-avilabel-text p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    color: #A1A3B0;
    text-align: center;
    margin-top: 5px; 
}
.form-amount .float-left{
    width: 70%;
    margin: 0 auto;
}
.input-group {
    margin: 0 auto;
    text-align: center;
    align-items: center;
    justify-content: end;
}
.input-group-prepend .input-group-text {
    background: #fff;
    font-size: 26px;
    line-height: 40px;
    border: 0px;
    font-weight: 400;
    color: var(--light-black);
    padding: 0px 0;
}
.input-form {
    width: 65px !important;
    border: none;
    padding: 0 0 0 0px;
    max-width: 70px;
    font-size: 45px;
    color: var(--light-black);
    font-weight: 600;
}
.input-group-append .input-group-text {
    background: #fff;
    font-size: 36px;
    line-height: 54px;
    border: 0px;
    font-weight: 400;
    color: var(--light-black);
    padding: 0px 0;
}
.panel-amount-form{
 text-align: center;
    width: 100%;
    margin: 0 auto;  
}
.submit-ammount-btns .btn-default{
    width:100%;
    margin-right: 1px;
    float:left;
}
.submit-ammount-btns .btn-success{
    width: 100%;
    margin-left: 1px;
    float:left;
}
.submit-ammount-btns .btn{
    font-size: 16px;
    padding: 5px 30px;
}
.panel-footer-links .panel-footer-icon i
{
    color: var(--blue);
}
.panel-footer-links .panel-footer-text
{
 font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
text-align: center;
color: #282828;   
}
.panel-footer-links .panel-footer-icon
{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 1px;
    color: #BDBDBD;
    text-align: right;
    float: right;

color: #BDBDBD;
}
.select-account-type{

}
.select-account-type li{
    
    margin: 15px 0;  
}
.select-account-type label{
 font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 24px;
width: 100%;
/* identical to box height */


color: #282828;
   
}
.select-account-type label h3{
 font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 9px;
line-height: 14px;
/* identical to box height */


color: #BDBDBD;   
}
.select-account-type label .radio-inline{
      position: absolute;
    top: 25px;
    right: 15px;  
}


.radio-custom {
    opacity: 0;
    position: absolute;   
}

.radio-custom, .radio-custom-label {
    display: inline-block;
    vertical-align: middle;
    margin: 5px;
    cursor: pointer;
}

 .radio-custom-label {
    position: relative;
    border: 1px solid #E0E0E0;
    padding: 15px 20px;
    border-radius: 6px; 
}

 .radio-custom + .radio-custom-label:before {
    content: '';
    background: #fff;
    border: 2px solid #ddd;
    display: inline-block;
    vertical-align: middle;
    width: 36px;
    height: 36px;
    padding: 2px;
    margin-right: 10px;
    text-align: center;
    top: 20px;
    position: absolute;
    right: 0;
}



.radio-custom + .radio-custom-label:before {
    border-radius: 50%;
}

.radio-custom:checked + .radio-custom-label:before {
    content: "";
    background: url(../src/assets/images/icon/tick.png) no-repeat;
    background-size: 70%;
    background-position: center;
}

 .radio-custom:focus + .radio-custom-label {
  border: 1px solid #37C758; /* focus style */
}
.account-m-details-box
{
        background: #F8F8F8;
    padding: 15px 20px;
    border-radius: 6px;
}
.account-m-details-box {

}
.account-m-details-box .panel-footer-icon{
 font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 24px;
/* identical to box height */

text-align: center;
letter-spacing: 1px;

color: #1D1F1F;   
}
.account-m-details-box .panel-footer-icon.link2{
    font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 21px;
/* identical to box height */

text-align: center;

color: #003EDF;
}
.account-m-details-box .panel-text-2{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 1px;
    color: #1D1F1F;
}
.btn-arrow{
    text-align: right;
    max-width: fit-content;
    float: right;
    margin: 40px 0;
    padding: 7px 15px;
    border-radius: 50%;    
}

.disable-scroll{
    overflow-x: hidden;
    overflow-y:hidden;
}
